.container-title{
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    aspect-ratio: 1/1;
}

.title-one{
    background-image: url(src/assets/title_1_korean.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    display:inline-block;
    position:relative;
    overflow-y:scroll;
    overflow-x:hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    border-left:var(--grey-default) solid 1px;
    scroll-behavior: smooth;
    box-sizing: border-box; 
}

.container-scroll{
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    display:grid;
    max-height: calc(100vh - 48px);
    grid-template-columns: repeat(100,auto);
    z-index: 4;
}

.container, .container-scroll{
    width:100vh;
    height:100vw;
    top:0;bottom:0;left:0;right:0;
}   

.square-box{
    padding: var(--layout-section);
    width: auto;
    min-width: 480px;
    display:inline-block;
    border-left: 1px dashed var(--grey-default);
    background-color:var(--grey-black);
}

@media only screen and (max-width: 768px) {

    /* HORIZONTAL STRUCTURE */
    
    .container{
        display:inline-block;
        position:relative;
        overflow-y:scroll;
        overflow-x:hidden;
        scroll-behavior: smooth;
        box-sizing: border-box;
        transform: none;
        transform-origin: initial;
    }

    .container-scroll{
        width:auto;
        display:grid;
        grid-template-columns: unset;
        grid-template-rows: repeat(100,auto);
        transform: none;
        transform-origin: initial;
        z-index: 4;
    }
    
    .container, .container-scroll{
        width:100vw;
        height:100vh;
        top:0;bottom:0;left:0;right:0;
    }  
    
    .square-box{
        box-sizing:border-box;
        display:inline-block;
    }
    
}   