/* ============= BASIC ============= */
:root{
    /* GREY */
    --grey-black: #000;
    --grey-white: #fff;
    --grey-default: #666;
    --grey-light: #999;
    --grey-extralight: #bbb;

    /* LAYOUT */
    --layout-xs: 2px;
    --layout-sm: 4px;
    --layout-md: 6px;
    --layout-lg: 8px;
    --layout-xl: 12px;
    --layout-xxl: 16px;
    --layout-section: 20px;
    --max-width-section: 840px;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

body{
    margin:0;
    scroll-behavior:smooth;
    background-color:var(--grey-black);
    font-family: "IBM Plex Sans KR", sans-serif;
}

::-webkit-scrollbar{
    display:none;
}

img{
    width:100%;
    display:inline-block;
}

.pointer{cursor: pointer;}

video{width:100%;}

 /* LINKS */

a{text-decoration: none; color: var(--grey-white);}
a:hover{cursor: pointer; animation: colchange 2s infinite;}
a:visited{color: var(--grey-white);}


@keyframes colchange{
    0%{color: #f2389a;}
    33.3%{color: #f4f431;}
    66.6%{color:#2995ed;}
    100%{color: #f2389a;}
}

@keyframes colchange-border{
    0%{color: #f2389a; border-color:#f2389a;}
    33.3%{color: #f4f431; border-color:#f4f431;}
    66.6%{color:#2995ed; border-color:#2995ed;}
    100%{color: #f2389a; border-color:#f2389a;}
}


/* Essay */
/* .imgone{
    background: url("essay/essay_1.jpg") no-repeat center;
}

.imgtwo{
    background: url("essay/essay_2.jpg") no-repeat center;
}

.imgthree{
    background: url("essay/essay_3.jpg") no-repeat center;
}

.imgfour{
    background: url("essay/essay_4.jpg") no-repeat center;
}

.imgone, .imgtwo, .imgthree, .imgfour{
    -webkit-background-size: 100% 100%;
    -moz-background-size:  100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
} */

/* =========  FONT ========= */

/* FONT SIZE */
h1{
    font-size: 1.6em;
    line-height: 154%;
    color: var(--grey-white);
    padding: 0;margin:0;
}

h2{
    font-size: 1.6em;
    line-height: 154%;
    color: var(--grey-extralight);
    padding: 0;margin:0;
}

h4{
    font-size: 1.4em;
    line-height: 160%;
    color: var(--grey-extralight);
    padding: 0;margin:0;
}


h6, p, li, table, tr, td, button{
    font-size: 1.2em;
    line-height: 160%;
    font-weight:400;
    color: var(--grey-light);
    padding: 0;margin:0;
}

/* FONT WEIGHT */
h1, h2, h4, h6{font-weight:600;}
p, li, table, tr, td, button{font-weight:400;}


/* ============ ELEMENT ============ */

.btn-size-lg{
    padding: var(--layout-lg) var(--layout-xl);
}

.btn-variant-primary{
    background: var(--grey-black);
    color: var(--grey-white);
    border: 1px solid var(--grey-default);
}
.btn-variant-primary:hover{cursor: pointer; animation: colchange-border 2s infinite;}

/* ============ SECTION ============ */

main{
    width:100%;
    max-width: 100vw;
    background-image: url("src/assets/bg_noize.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section{
    width:100%;
    max-width: var(--max-width-section);
    padding: var(--layout-section);
    margin: 0 auto;
    box-sizing: border-box;
}

.image-wrapper{
    padding: var(--layout-section);
    box-sizing: border-box;
}


/* NAVIGATION */
nav{
    top:0;
    position: fixed;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--layout-lg);
    gap: 12px;
    background-color:var(--grey-black);
    border-bottom: 1px solid var(--grey-default);
    box-sizing: border-box;
    z-index: 100;
}

#icon {width: 24px; height: 24px; flex-shrink: 0;}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: right;
    text-align: right;
    gap: var(--layout-section);
    flex: 1 0 0;
    padding: 0;
    margin: 0;
}

.nav-menu{
    display: none;
    color: var(--grey-white);
}

.nav-space{
    width: 100%;
    height: 60px;
}

@media only screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: fixed;
        align-items: right;
        top: -400px;
        left: 0;
        width: 100%;
        background-color: var(--grey-black);
        border-bottom: 1px solid var(--grey-default);
        padding: 0 var(--layout-xl) var(--layout-xl) var(--layout-xl);
        box-sizing: border-box;
        gap: var(--layout-xl);
        transition: top 0.5s ease;
    }

    .nav-menu {
        display: inline-block;
        flex: 1;
        cursor: pointer;
        text-align: right;
    }

    .nav-links.open {
        top: 54px;
    }
}

